$font-roboto: "Roboto", sans-serif;
$font-title: "Playfair Display", serif;

/*=============================================
=            colors            =
=============================================*/

$color-secondary: #2d794a;
